.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
    color: #333;
}

.navigation a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.social-media a {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
}

